
.jumbotron{
	background-image: url('http://i.imgur.com/DrWpd3W.jpg');
	background-size: cover;
	background-position: center top;
	height: 722px;
}

.jumbotron h1{
	color: #FFF;
	text-align: center;
}

.jumbotron h3{
	color: #FFF;
	margin: auto;
}

.menu {
	margin: 10px;
	font-weight: 700;
}

.header {
	text-align: center;
}