
.jumbotron{
	background-image: url('http://i.imgur.com/DrWpd3W.jpg');
	background-size: cover;
	background-position: center top;
	height: 722px;
}

.jumbotron h1,h3 {
	color: #FFF;
	text-align: center;
}

.nav ul{
	margin: 10px;
	font-weight: 700;
	text-align: center;
}

.nav li{
	display: inline;

}
.header {
	text-align: center;
}